.settings-pane {
    -fx-padding: 5px;
    -fx-margin: 10px;
    -fx-hgap: 10px;
}

.menu-bar {
    -fx-background-color: rgb(130,130,130);
    -fx-background-radius: 10 10 10 10, 10 10 10 10, 10 10 10 10;
}

.menu-bar .label {
    -fx-font-size: 14 pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;

}